*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
nav
{
    display: flex;
    justify-content: space-around;
    background-color: orange;
}
.images{
    border: 2px solid red;
    display: flex;
    justify-content: center;   
}